<a href="https://colab.research.google.com/github/TulipAggarwal/Learning-Pandas/blob/main/Conditional_changes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditional Changes ⚡

In [2]:
import pandas as pd
df = pd.read_csv("/content/sample_data/data_set.csv")

In [17]:
#Changing the fire type as Flamer
df.loc[df['Type 1'] == "Fire", "Type 1"] = 'Flamer'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True

In [19]:
#Changing the fire type pokemons as Legendary too
df.loc[df['Type 1'] == "Fire", "Legendary"] = True
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True

In [25]:
#Changing multiple parameters at the same time
#Here all pokemons having Speed > 50 will make the generation and legendary value as Test Value
df.loc[df["Speed"] > 50, ["Generation", "Legendary"]] = 'TEST VALUE'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,TEST VALUE,TEST VALUE
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,TEST VALUE,TEST VALUE
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,TEST VALUE,TEST VALUE
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,TEST VALUE,TEST VALUE
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,TEST VALUE,TEST VALUE
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,TEST VALUE,TEST VALUE
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,TEST VALUE,TEST VALUE
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,TEST VALUE,TEST VALUE
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,TEST VALUE,TEST VALUE

In [26]:
#We can also do this as:
#Here all pokemons having Speed > 50 will make the generation and legendary value as Test1 and Test2 
df.loc[df["Speed"] > 50, ["Generation", "Legendary"]] = 'Test1', 'Test2'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,Test1,Test2
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test1,Test2
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test1,Test2
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,Test1,Test2
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,TEST VALUE,TEST VALUE
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test1,Test2
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test1,Test2
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test1,Test2
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,Test1,Test2