<a href="https://colab.research.google.com/github/TulipAggarwal/Learning-Pandas/blob/main/Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aggregate Statistics using Groupby (Sum, Mean, Counting) üìÅ

In [2]:
import pandas as pd
df = pd.read_csv("/content/sample_data/data_set.csv")

In [28]:
#Means of Type of Pokemons
df.groupby(["Type 1"]).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Flamer,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286

In [30]:
#Means of Type of Pokemons in a way that it gets in descending order of Defense
df.groupby(["Type 1"]).mean().sort_values("Defense", ascending = False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Flamer,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020

In [31]:
df.groupby(["Type 1"]).mean().sort_values("HP", ascending = False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Flamer,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159

In [34]:
# Will output the number of count of each type of pokemons
df.groupby(["Type 1"]).count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Flamer,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112

In [37]:
# Just to get the Count column
df["count"] = 1
df
df.groupby(["Type 1", "Type 2"]).count()["count"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64